.main-div {
	background-color: #fff;
	margin: 8rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 1200px){
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.card-div {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 280px;
	height: 275px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
	-moz-box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
	box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
}

.card-title {
	color: #5b2c6f;
	font-weight: 500;
	font-size: 20px;
}

.number {
	font-size: 2.6rem;
	line-height: 1.45rem;
	font-weight: 400;
	font-family: 'SolaimanLipi' !important;
	text-align: center;
	margin-bottom: 1.5rem;
}
.Add {
	font-size: 2.6rem;
	font-weight: 400;
}

.image-control {
	height: 90px;
	width: 100%;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}
