*{
    margin: 0;
    padding: 0;
}
.main-div{
    /* height: 750px; */
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
 
.card-div{
    background-color: white;
    border-radius: 5px;
    width: 25%;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 7px 3px #F8F9F9;
    flex: 20%;
    
}
p{
    color: #5B2C6F;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -25px;
}
.paragraph1{
    margin-bottom: 30px;
}
.number{
    font-size: 50px;
    text-align: center;
}
.Add{
    font-size: 50px;
    font-weight: 200px;
} 
    

 .image-control{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #5B2C6F;
    margin-top: 30px;
    margin-bottom: 15px;
    
}   
@media screen and (max-width: 992px) {
    .card-div{
        flex: 40%;
        
    }
    .number{
        font-size: 50px;
        text-align: center;
    }
    
}

@media screen and (max-width: 600px) {
    .card-div{
      flex: 50%;
    }

    .number{
        font-size: 38px;
        text-align: center;
    }
}