*{margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  ul li{
      
          margin-bottom: 30px;
          display: block;
          border: 1px solid #dedede;
          border-top: 2px solid #522B79;
          border-radius: 5px;
          width: 100%;
          box-shadow: 0 6px 20px rgb(0 0 0 / 2%);
          list-style: none;
  }
  .head-thikana{
      padding: 15px 10px;
      margin: 0 0;
      display: block;
      border-bottom: 1px solid #f0f0f0;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      color: #522B79;
  }
  .each-pii label {
      max-width: 50%;
      flex: 0 0 50%;
      border-right: 1px solid #f0f0f0;
      margin: 0;
      padding: 5px 5px 5px 0;
      color: #000;
      font-size: 15px;
  }
  ul > li .each-pii:nth-child(2n + 1) {
      background: #f8f8f8;
  }
   ul > li .each-pii {
      display: flex;
      padding: 0px 15px;
  }
  .each-pii p{
  
          margin: 0;
          padding: 5px 0 5px 15px;
          font-size: 14px;
          color: #666;
          font-family: 'SolaimanLipi';
  
  }
  