.step1-form-container {
	width: 760px;
	height: 480px;
	border-radius: 5px;
	margin-left: 2rem;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
	-moz-box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
	box-shadow: 2px 2px 27px 0px rgba(240, 228, 240, 0.56);
}
