.banner {
  width: 100%;

  span {
    font-size: 1.2rem;
    border-top: 1px solid #fff;
    padding-top: 5px;
    position: relative;
    @media  screen and (max-width: 575px) {
      font-size: 1rem;
    }
  }

  h1 {
    @media  screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
    @media  screen and (max-width: 768px) {
      font-size: 2rem;
    }
    @media  screen and (max-width: 992px) {
      font-size: 2rem;
    }
  }

  span::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    left: 0;
    top: -5px;
    border-radius: 50%;
  }
  
  span::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    right: 0;
    top: -5px;
    border-radius: 50%;
  }
}

.container {
  @media screen and (max-width: 992px) and (min-width: 768px)  {
    max-width: 760px;
  }
}