.small-button {
  font-size: 85%;
  border-radius: 5px;
  background-color: #ad277c;
  color: #fff;
  border: 2px solid #ad277c;
  padding: 5px 14px;
}

.next-button {
  font-size: 85%;
  border-radius: 5px;
  background-color: #ad277c;
  color: #fff;
  border: 2px solid #ad277c;
  padding: 3px 14px;
  margin-left: 1rem;
  cursor: pointer;

  a {
    color: #fff !important;

    &:hover {
      color: #fff;
    }
  }
}

.disabled-button {
  cursor: no-drop;
  margin-left: 1rem;
  color: inherit;
  a:hover {
    cursor: no-drop;
    color: inherit;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: #888;
}

.spinner-border {
  animation-duration: 0.9s;
}