ul.item-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
    height: 40px;
		margin: 0;
		padding: 0;
		width: 100%;
		li {
      a, button {
        color: #fff;
        border: none;
        outline: none;
        &.view {
          padding: 8px 20px;
          border-top-left-radius: 5px;
          background-color: #522b79;
        }
        &.biodata-approve {
          padding: 8px 20px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: #ad277c;
			  }
        &.edit {
          padding: 8px 20px;
          border-top-right-radius: 5px;
          background-color: #522b79;
			  }
      }
		}
	}

  .list-group-item {
    svg {
      font-size: 2rem;
    }
  }

  #small-divice-button{
    color: #fff;
     border: none;
        outline: none;
        padding: 8px 20px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: #ad277c;
  }


  #large-divec-button, #small-divice-button{
    display: none;
  }


  @media screen and (min-width: 100px) {
    #large-divec-button{
      display: none;
    }
    #small-divice-button{
      display: initial;
      width: 100%;
      margin: auto;

      
    }
  }
  @media screen and (min-width: 841px) {
    #small-divice-button{
      display: none;
    }
    #large-divec-button{
      display: initial;
    }
  }
 
  
  