.video-main-div {
	text-align: center;
}
.h3tag {
	margin: auto;
	padding-top: 60px;
	padding-bottom: 70px;
}
.video-div {
	padding-bottom: 50px;
}

.mlr-lg {
	margin-left: 0;
	margin-right: 0;

	@media screen and (min-width: 1200px) {
		margin: 0 7rem;
	}
}
