.contact_paragraph {
  margin: auto;
  width: 55%;
  padding: 10px;
  text-align: center;
}
.contact{
  color: rgb(212, 209, 209);
}

.contact-from-div{
  margin: auto;
  width: 55%;
}

.contact-box {
  margin: auto;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
}

form {
  margin: 25px;
}

.input-field {
  width: 100%;
  height: 35px;
  /* margin-top: 10px; */
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(212, 209, 209);
  border-radius: 2px;
  outline: none;
}

.input-field:focus{
  border: 2px solid black;
}

.textarea {
  height: 150px;
  /* padding-top: 10px; */
  /* margin-top: 1px; */
  /* margin-bottom: 10px; */
  width: 100%;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
  /* margin-top: 1px; */
  margin-bottom: 10px;
  width: 100% !important;
  box-sizing: border-box;
}

h4{
  font-size: small;
}

.contact-button {
  background-color: #522b79; /* Green */
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px;
  font-weight: bold;
  
}
.contact-button:hover{
  -webkit-box-shadow: 0 8px 10px -6px #000000;
  -moz-box-shadow: 0 8px 10px -6px #000000;
  box-shadow: 0 8px 10px -6px #000000;
}