.biodata-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;
}

@media only screen and (max-width: 767px) {
  .biodata-profile {
    flex-direction: column;
  }
}

// styling for setting page
.setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

// biodata details page
.biodata-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;
}

@media only screen and (max-width: 767px) {
  .biodata-details {
    flex-direction: column;
  }
}