// margin left
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 1.5rem;
}
.ml-4 {
  margin-left: 2rem;
}
.ml-5 {
  margin-left: 2.5rem;
}
// negative left margin
.ml-m-1 {
  margin-left: -0.5rem;
}
.ml-m-2 {
  margin-left: -1rem;
}
.ml-m-3 {
  margin-left: 1.5rem;
}
.ml-m-4 {
  margin-left: -2rem;
}
.ml-m-5 {
  margin-left: -2.5rem;
}

// margin right
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 1.5rem;
}
.mr-4 {
  margin-right: 2rem;
}
.mr-5 {
  margin-right: 2.5rem;
}

.mr-30 {
  margin-right: 15rem;
}

// bg color
.bg-white {
  background: #fff;
}

// color
.text-white {
  color: #fff;
}

// font
.text-80 {
  font-size: 80%;
}